@charset "UTF-8";

:root {
    --color1: #4F4D46;
    --color2: #787569;
    --color3: #C9C5B1;
    --color4: #EDE8D0;
    --color5: ;
    --color6: ;
    --color7: #978f7a;
    --color8: #464332;
    --color9: #4e482a;
    --color9-1: #554d2e;
    --color10: #bbb195;
}

body {
    background-color: rgba(59, 52, 52, 0.651);
    min-width: 350px;
    max-width: 850px;
    height: 600px;
    margin: auto;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, var(--color10), var(--color9));
    margin: auto;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

header > h1 {
    color: var(--color8);
    font-size: 22px;
    text-align: center;
}
header > p {
    color: var(--color8);
    font-size: 15px;
    text-align: center;
}

nav {
    padding: 0px;
    margin-top: -32px;
}

nav a {
    padding: 10px;
    color: var(--color10);
}

nav a:hover {
    color: var(--color8);
    background-color: var(--color7);
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

main {
    background-color: var(--color10);
    margin-top: -12px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main h2 {
    padding: 10px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

main article {
    background-color: var(--color7);
    width: 300px;
    flex: 200px;
}

main article > h2 {
    color: var(--color8);
}

main article p {
    color: var(--color4);
}

main picture > img {
    width: 210px;
}

aside img {
    background-color: var(--color10);
    height: 80px;
    display: block;
    gap: 20px;
    padding: 2px;
    margin: auto;
}


aside {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
 aside article {
    background-color: var(--color3);
    margin-top: -70px;
    
 }

 aside article > h3 {
    color: var(--color9);
    padding: 10px;
 }

 aside article > p {
    color: var(--color8);
    padding: 10px;
 }

 picture > img {
    display: block;
    margin: auto;
    max-width: 850px;
 }

 footer {
    background-color: var(--color10);
    margin-top: -15px;
    padding-top: 1px;
    padding-bottom: 3px;
    text-align: center;
 }

 footer h2 {
    color: var(--color8);
 }

 footer p {
    color: var(--color8);
 }