@charset "UTF-8";

/* Incons GitHub */

.github {
    background-color: white;
    color: black;
}

.github:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

/* Icons Facebook */

.facebook {
    background-color: white;
    color: #1877F2;
}

.facebook:hover {
    background-color: #1877F2;
    color: white;
    transition: 1s;
}

/* Icons linkedin */

.linkedin {
    background-color: white;
    color: #0A66C2;
}

.linkedin:hover {
    transition: 1s;
    background-color: #0A66C2;
    color: white
}

/* Icons Instagram */

.instagram {
    background-color: white;
    color: blue;
}

.instagram:hover {
    background: linear-gradient(45deg, #c58a5a, #a31f5a, #9c53c7, #3c47be);
    transition: 1s;
}

/* Icons Envelope */

.envelope {
    background-color: rgb(255, 255, 255);
    color: rgb(63, 71, 179);
}

.envelope:hover {
    background-color: rgb(69, 78, 204);
    color: white;
    transition: 1s;
}

/* Icons Whatzaap */

.zap {
    background-color: white;
    color: rgb(21, 21, 219);
}

.zap:hover {
    background-color: rgb(0, 0, 0);
    color: #25D366;
    transition: 1s;
}