@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

body {
    background-color: brown;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
}

header > i#burguer {
    display: none;
}

nav#itens {
    display: none;
}