@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: Até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    header > i#burguer {
        display: none;
    }

    .container {
        display: flex
    }

    header  ul > li {
        display: inline-block;
        margin-left: 1.6vw;
    }

    main > article > div {
        margin-top: 14vw;
        margin-left: 2vw;
        font-size: 2.3vw;
    }

    main > article > img#imagem {
        width: 24vw;
        margin-left: 15vw;
    }
}

@media screen and (min-width: 992px) {
    header > i#burguer {
        display: none;
    }

    .container {
        display: flex;
    }

    header ul > li {
        display: inline-block;
        margin-left: 5vw;
    }

    main > article > div {
        font-size: 1.9vw;
    }

    main > article > img#imagem {
        width: 23vw;
        margin-left: 15vw;
    }
}
