@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}

body {
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(32, 32, 32));
    width: 100vw;
    height: 100vh;
}

header > h1 {
    padding: 5px;
    margin-left: 2vw;
    color: rgba(16, 14, 160, 0.884);
}

header > h1 > span {
    color: white;
}


header > i#burguer {
    background-color: rgba(92, 92, 92, 0.425);
    color: rgb(11, 8, 56);
    padding: 3px;
    margin-top: 3vw;
    margin-left: 4px;
    margin-bottom: 2.5vw;
    border-radius: 10px;
    cursor: pointer;
}

header > i#burguer:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(31, 31, 110);
    transition: 1s;
    border-radius: 2px;
    border-radius: 10px;
}

header > i#burguer:active {
    background-color: rgb(7, 7, 7);
    color: rgb(16, 18, 165);
    border-radius: 8px;
}

header > nav {
    display: block;
    position: fixed;
    text-align: center;
}

header > nav > ul {
    padding: 0px;
}

header > nav > ul > li {
    list-style-type: none;
    width: 79px;
}

header a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-top: 2px solid rgb(6, 6, 59);
}

header a:hover {
    color: rgb(184, 177, 231);
    background-color: rgb(65, 65, 65);
    transition: 1s;
}

main > article > div span {
    color: rgb(38, 67, 212);
}

main {
    color: white;
    margin-top: 250px;
    margin-left: 4vw;
    padding: 10px;
    font-size: 2.6vw;
    display: flex;
    align-items: center;
}


main > article > img {
    margin-left: 6vw;
    width: 27vw;
    border-radius: 100px 400px;
    background: rgba(14, 14, 124, 0.966);
    opacity: 0.4;
}
