@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(19, 19, 19);
    color: white;
}


header span {
    color: white;
}

header h1 {
    color:rgb(0, 140, 255);
    margin-bottom: 30px;
    transition: 2s;
}

i#burguer {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    width: 24px;
    display: block;
    text-align: left;
    cursor: pointer;
}

i#burguer:hover {
    background-color: rgb(54, 54, 54);
    color: rgb(163, 163, 163);
}

nav > ul > li > a {
    display: block;
    padding: 8px;
    width: 90px;
    text-decoration: none;
    text-align: left;
    color: white;
    border-top: 2px solid rgb(19, 7, 71);
    border-bottom: 1px solid black;
}

nav a:hover {
    background-color: rgb(54, 54, 54);
}

main > article {
    margin-top: 20vw;
    padding-left: 5vw;
    font-size: clamp(14px, 2vw, 33px);

}

main > article > h1 {
    padding-top: 7px;
    padding-bottom: 7px;
}

main > article#imagem {
    width: 150px;
    height: 210px;
    background: radial-gradient(circle, #6b74c2 0%, #052681 40%);
    border-radius: 500px 120px 400px 300px;
    opacity: 0.7;
}

main > article > img {
    position: relative;
    width: 170px;
    
}

main span {
    color: rgb(0, 140, 255);
}

.container {
    display: flex;
}