@media screen and (max-width: 767px) {

@font-face {
    font-family: 'inter';
    src: url(../fonte/inter/static/Inter_18pt-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid rgb(243, 6, 6); */
}

:root {
    --fundo01: rgb(26, 26, 26);
    --fundo02: rgb(48, 47, 47);
    --principal: #0077ff;
    --destaque: white;
}

body {
    background-color: var(--fundo01);
    font-family: 'inter';
    background-image: linear-gradient(to bottom, var(--fundo01), var(--fundo02));
    
    overflow-x: hidden;
}

.inicio {
    position: relative;

    width: 100%;
    min-height: 100vh;
    background: url(../imagens/MyDesignSanddude.jpeg); 
    background-size: cover;
    background-position: 48% center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.inicio::before {
    content: '';
    position: absolute;
    inset: 0;

    background-color: rgba(32, 32, 32, 0.678);
    z-index: 0;
    backdrop-filter: blur(1px);
}

.inicio > * {
    position: relative;
    z-index: 1;
}

header {
    /* border: 2px solid red; */
    background-color: #151924;
    position: relative;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top: 0;
}


header > h1 {
    font-size: calc(1.6em + 1.5vw);
    padding: 5px;
    margin-left: 2vw ;
    color: white;
    text-shadow: 0px 2px 0px rgba(194, 193, 193, 0.993);
}

header > h1 > span {
    text-shadow: 0px 3px 0px rgba(46, 46, 173, 0.918);
    color: #0077ff;
}

.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(46, 46, 46, 0.288);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .3s ease;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 22px 150px 45% 100px;
    background: linear-gradient(180deg, #050816 0%, #091224 45%, #0b1730 100%);
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(240px + 20vw);
    height: 100vh;
    transition: .5s ease;
    z-index: 11;
}

#menu.active {
    right: 0;
}

header i#burguer {
    font-size: 2.2em;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px;
    
}

header i#close {
font-size: 2.2em;
color: white;
display: flex;
justify-content: flex-end;
cursor: pointer;
margin-top: 14px;
margin-right: 14px;
}

nav div#imgandnome {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 6px;
    width: 50%;
    height: 200px;
    margin-top: 40px;
}

nav div#imagem {
    background: url(../imagens/myimage.favicon.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55%;
    height: 100px;
    border: 2px solid rgb(17, 17, 48);
    border-radius: 50%;
}
nav div#nome {
    font-size: 12px;
    color: rgb(207, 207, 207);
}

nav div#explorar {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 70px;
}

nav div#explorar > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}

nav div#explorar li {
    list-style: none;
}

nav div#explorar a {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    font-size: 13px;
    color: white;
    text-decoration: none;

    background: rgba(10, 15, 28, 0.82);

    border: 1px solid rgba(59, 130, 246, .12);
    border-radius: 18px;
    color: #e5e7eb;
    font-weight: 500;
    transition: .3s ease;
    backdrop-filter: Blur(12px);
}

nav div#explorar a:hover {
    transform: rotateX(6px);
    border: 1px solid rgba(59, 130, 246, .35);
    background: rgba(18, 30, 55, 0, .95);
    box-shadow: 0 0 20px rgba(37, 99, 235, .15);
}

nav div#explorar a:active {
    background: linear-gradient(90deg, rgba(37, 99, 235, .25), rgb(15, 23, 42, .95));
    border: 1px solid rgba(59, 130, 246, .4) !important;
    color: #3b82f6;
    box-shadow: 0 0 25px rgba(37, 99, 235, .18);
}

section#container {
    /* border: 2px solid green; */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 10px;
    min-height: 100vh;
}

section#container div.texto {
    margin-top: 120px;
}

section#container div.texto{
    /* border: 2px solid orange; */
    margin-left: calc(2px + 1vw);
    font-size: calc(4px + 3vw);
    color: white;
    margin-top: 30px;
}

section#container div.texto > h1 > span {
    font-size: 1em;
    color: #0077ff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.966);
}

section#container div.texto > p > span {
    font-size: 1.3em;
    color: #0077ff;
    text-shadow: 0px 0px 0px black;
    font-weight: bold;
}

article div.icons {
    margin-left: calc(2px + 1vw);
    font-size: calc(4px + 3vw);
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

article div.icons > ul {
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    

    /* border: 2px solid yellow; */
}

article div.icons > ul > li {
    /* border: 2px solid rgb(14, 136, 30); */
    list-style: none;
}

article div.icons > ul > li > a {
    padding: 3px 7px;
    border-radius: 26px;
    font-size: 1.4em;
    /* border: 2px solid orange; */
}

article div#curriculo a {
    background-color: rgba(27, 27, 27, 0.74);
    padding: 9px;
    color: white;
    margin-left: 3px;
    text-decoration: none;
    border-top: 2px solid var(--principal);
    border-radius: 7px;
    margin-left: calc(2px + 1vw);
    font-size: calc(4px + 2vw);
}

article div#curriculo a:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(209, 209, 209);
    text-decoration: underline;
}

article div#curriculo a:active {
    background-color: rgba(0, 0, 0, 0.801);
    color: rgb(156, 155, 155);
    transition: 1s;
}


article div#curriculo i {
    color: rgb(242, 242, 243);
    padding-right: 3px;
    transform: translateY(7px);
}

article div#curriculo i:hover {
    color: var(--principal);
    transition: 2s;
}

                            /* Area sobre */


section#sobre {
    font-family: 'inter';
    color: rgb(180, 180, 180);
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(44, 44, 44));
    min-height: 100vh;
}

section#sobre > h1 {
    text-align: center;
    padding: 30px;
}
section#sobre > h1 > span {
    color: var(--principal);
    text-align: center;
}

section div#caixa {
    background-color: rgb(44, 44, 44);
    width: 92vw;
    min-height: 61vh;
    margin: auto;
    border-radius: 12px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid rgb(85, 85, 85);
}

section#sobre div.elementos {
    display: grid;
    grid-template-columns: 35% 64.1%;
    grid-template-rows: 285px 361px;
    height: 650px;
    gap: 5px;
    border-radius: 12px;
    border-top-right-radius: 13px;
    background-color: rgb(22, 22, 22);
}

section div.dados1 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    border-top-left-radius: 13px;
    background-color: #292929;
    height: 277px;
}

section div.dados1 div.imagem{
    background: url(../imagens/myimage.favicon.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 119px;
}

section div.dados1 h2 {
    margin-left: 5px;
    font-size: 2vw;
    color: white;
}

section div.dados1 h2 > span {
    color: var(--principal);
}

section div.dados1 p {
    width: 80%;
    margin-left: 5px;
    margin-top: 8px;
    font-size: calc(3.5px + 1.1vw);
    color: rgb(185, 185, 185);
}



section div.dados2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}

section div.dados2 i {
    color: #0077ff;
}

section div.dados2-1 {
    padding: 7px;
    height: 82px;
    background-color: #292929;
    border-radius: 7px;
    border-top-right-radius: 15px;
    border: 1px solid rgb(100, 100, 100);
    
}

section div.dados2-1 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-1 > p {
    margin-left: 6px;
    margin-top: 11px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: rgb(185, 185, 185);
}

section div.dados2-2 {
    padding: 7px;
    height: 77px;
    background-color: #292929;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

section div.dados2-2 > p {
    margin-left: 7px;
    margin-top: 10px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: rgb(185, 185, 185);
}

section div.dados2-2 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-3 {
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    height: 72px;
    border-radius: 7px;
    background-color: #292929;
}

section div.dados2-3 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-3 > p {
    margin-left: 6px;
    margin-top: 10px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: rgb(185, 185, 185);
}

section div.dados3 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    background-color: #292929;
    padding: 3px;
}

section div.dados3 i {
    color: var(--principal);
}

section div.dados3 div.rotina > h2 {
    margin-left: 6px;
    color: white;
    font-size: calc(1px 40vw);
    
}

section div.dados3 h2 {
    color: white;
    font-size: 2vw;
    margin-top: 2px;
}

section div.dados3 p {
    margin-top: 1vw;
    margin-left: 12px;
    width: 80%;
    color: rgb(185, 185, 185);
    font-size: calc(8.5px + 0.2vw);
}

section div.dados4 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    background-color: #292929;
    padding: 3px;
}

div.dados4 > h2 {
    font-size: calc(1px + 0.8em);
    margin-top: 5px;
    margin-left: 12px;
    color: white;
}

div.dados4 i {
    color: var(--principal);
}

div.componentes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47.5px 1fr 1fr;
    gap: 3px;
    padding-left: 1px;
    padding-right: 0px;
}

div.faculdade {
    grid-column: 1 / 4;
    border: 1px solid rgb(100, 100, 100);
    background-color: #1f1e1eb6;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1px;
}

div.faculdade > p {
    margin-left: 1.7vw;
    font-size: 1.7vw;
    color: white;
    width: 90%;
}

div.faculdade p.p2 {
    margin-left: 15px;
}

div.faculdade > p > span {
    color: var(--principal);
}

div.registros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2cb6;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgb(100, 100, 100);
    height: 127.5px;
}

div.registros > i {
    margin-top: 3px;
    font-size: 2.5vw;
}

div.registros > h2 {
    position: relative;
    color: white;
    font-size: calc(2px + 1.4vw);
    text-align: center;
}

div.registros > p {
    color: rgb(185, 185, 185);
    font-size: calc(0.9vw + 2.7px);
    text-align: center;
}

div.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 6px;
}

div.dots span {
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

div.dots span.active {
    background-color: var(--principal);
    box-shadow: 0 0 4px #171247;
}


                            /* Area Habilidades */


section#habilidades {
    background: linear-gradient(180deg, #00060e 0%, #020b18 50%, #00040c 100%);
    color: white;
    min-height: 100vh;
    font-family: 'inter';
}

section#habilidades > h1 {
    font-size: 1.7em;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: var(--destaque);
}

section#habilidades > h1 > span {
    color: var(--principal);
}

section#habilidades div.caixa {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 180px);
    gap: 12px;
    margin: auto;
    width: 89vw;
    height: 80vh;
    border-radius: 15px;
}

section#habilidades div.bolha {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: rgba(8, 17, 29, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.274);
}

section#habilidades div.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 11px;
    column-gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 35px;
}

section#habilidades div.icons i {
    font-size: 1.6em;
    margin-right: 7px;
    vertical-align: middle;
}

section#habilidades div.bolha > h2 {
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
}

section#habilidades div.bolha > h2 > i {
    color: #0c67ddad;
    margin-right: 10px;
}

section#habilidades div.icons > p {
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 500;
    padding: 12px 0px;
    background: rgba(48, 48, 48, 0.233);
    border-radius: 6px;
}

}