@charset "UTF-8";

@media screen and (min-width: 992px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'inter';
    }

    body section#inicio {
        background-image: linear-gradient(to bottom, #181818, #202020ec);
        background-size: contain;
        background-position: center center;
        min-height: 100dvh;
    }

    #burguer {
        display: none;
    }

    header {
        background-color: #0b2441;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
    }

    header > h1 {
        font-size: 2.8em;
        padding: 5px;
        margin-left: 2vw;
        text-shadow: rgba(194, 193, 193, 0.993);
        color: white;
    }

    header > h1 > span {
        text-shadow: 0px 3px 0px rgba(0, 0, 255, 0.918);
        color: rgb(13, 11, 138);
    }

    header > nav {
        /* border: 3px solid red; */
        margin-right: 18px;
        box-sizing: border-box;
        
    }

    header > nav > ul {
        display: flex;
        /* border: 2px solid green; */
    }

    header > nav > ul > li {
        padding: 10px 1.1vw;
        /* border: 2px solid yellow; */
        display: inline-block;
    }

    header > nav > ul > li > a {
        display: block;
        color: white;
        border-top: 2px solid rgb(20, 20, 100);
        text-decoration: none;
        padding: 14px 1.9vw;
        font-size: 1.2em;
        border-radius: 11px;
    }

    header > nav > ul > li > a:hover {
        color: rgb(213, 210, 233);
        background-color: rgb(88, 88, 88);
        transition: 1s;
        border-radius: 15px;
    }

    main img {
        display: none;
    }

    #container {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: white;
        padding-top: 180px;
        font-size: 2.4em;
        margin-left: 5%;
        width: 70vw;
        height: 67vh;


    }

    main h1 {
        color: white;
        text-shadow: 0px 4px 0px black;
    }

    main span {
        color: #0077ff;
        text-shadow: 2px 4px 0px rgb(2, 3, 29);
    }

    main div.icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid red; */
        width: 400px;
        height: 55px;
        margin-top: 32px;
        margin-left: 5vw;
        margin-bottom: 40px;
    }

    main div.icons > ul {
        width: 80%;
        /* border: 2px solid yellow; */
        display: flex;
    }

    main div.icons > ul > li {
        width: 100%;
        /* border: 2px solid green; */
        display: inline-block;
    }

    main div.icons > ul > li > a {
        /* border: 2px solid blue; */
        padding-top: 2px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 2px;
        font-size: 2.4em;
        border-radius: 20px;
    }

    div#curriculo a {
        background-color: rgba(53, 53, 53, 0.74);
        padding: 9px;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        margin-left: 7vw;
        border-top: 2px solid rgb(69, 69, 70);
        border-radius: 7px;
        
    }

    div#curriculo a:hover {
        background-color: rgba(59, 59, 59, 0.74);
        color: rgb(209, 209, 209);
        text-decoration: underline;
    }

    main div#curriculo a:active {
        background-color: rgba(27, 27, 27, 0.801);
        color: rgb(156, 155, 155);
        transition: 2s;
    }

    main div#curriculo i {
        color: rgb(242, 242, 243);
        padding-right: 3px;
        transform: translateY(7px);
    }

    main div#curriculo i:hover {
        color: rgb(161, 160, 160);
        transition: 2s;
    }


}