@media screen and (max-width: 768px) {

@font-face {
    font-family: 'inter';
    src: url(../fonte/inter/static/Inter_18pt-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

:root {
    --fundo01: rgb(26, 26, 26);
    --fundo02: rgb(48, 47, 47);
    --principal: #0077ff;
    --destaque: white;
}

body {
    background-color: var(--fundo01);
    font-family: 'inter';
    background-image: linear-gradient(to bottom, var(--fundo01), var(--fundo02));
    min-height: 100dvh;
    overflow-x: hidden;
}

.inicio {
    position: relative;

    min-width: 100svw;
    background: url(../imagens/myphotodesign.jpg.webp);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;

    overflow: hidden;
}

.inicio::before {
    content: '';
    position: absolute;
    inset: 0;

    background-color: rgba(31, 31, 31, 0.623);
    z-index: 0;
    backdrop-filter: blur(0.6px);
}

.inicio > * {
    position: relative;
    z-index: 1;
}

header {
    /* border: 2px solid red; */
    background-color: #1a1d25;
    position: relative;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 999;
    top: 0;
}


header > h1 {
    font-size: calc(1.6em + 1.5vw);
    padding: 5px;
    margin-left: 2vw ;
    color: white;
    text-shadow: 0px 2px 0px rgba(194, 193, 193, 0.993);
}

header > h1 > span {
    text-shadow: 0px 3px 0px rgba(46, 46, 173, 0.918);
    color: #0077ff;
}

#btn-menu {
    background: transparent;
    border: none;
    cursor: pointer;
}

#itens {
    background-color: #0077ff;
    position: absolute;
    top: 70px;
    right: 20px;

    width: 180px;
    background: #111;
    border-radius: 10px;
    padding: 10px;

    display: none;
    visibility: hidden;
    z-index: 999;
}

#itens.active {
    display: block;
    visibility: visible;
}


header i#burguer {
    background-color: rgba(92, 92, 92, 0.425);
    color: rgb(184, 184, 187);
    padding: 4px 3px 3px 3px;
    font-size: calc(2em + 1vw);
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

header i#burguer:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(31, 31, 110);
    transition: 0.8s;
    border-radius: 3px;
    border-radius: 15px;
}

header i#burguer:active {
    background-color: rgb(7, 7, 7);
    color: rgb(16, 18, 165);
    border-radius: 19px;
}

header > nav {
    background-color: #181818;
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 33px;
}

header > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > ul > li {
    
    /* border: 2px solid green; */
    list-style-type: none;
    width: 100%;
    max-width: 250px;
    padding: 4px;
} 

header > nav a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(221, 221, 221);
    /* border-top: 2px solid rgb(26, 22, 78);  */
    
    border-radius: 4px;
}

header > nav a:hover {
    color: rgb(213, 210, 233);
    background-color: rgb(88, 88, 88);
    transition: .7s;
    border-radius: 15px;
    text-decoration: underline;
}

section#container {
    /* border: 2px solid green; */
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-height: 100dvh;
}

section#container article > div {
    /* border: 2px solid orange; */
    margin-left: 10px;
    font-size: calc(0.4em + 2vw);
    margin-top: 40px;
}

article > div > h1 > span {
    font-size: 1em;
    color: #0077ff;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.966);
}

article > div >p > span {
    font-size: 1.3em;
    color: #0077ff;
    text-shadow: 0px 2px 0px black;
}


article div.icons {
    display: grid;
    grid-template-rows: auto ;
    /* border: 2px solid red; */
}

article div.icons > ul {
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    

    /* border: 2px solid yellow; */
}

article div.icons > ul > li {
    list-style: none;
}

article div.icons > ul > li > a {
    padding: 3px 7px;
    border-radius: 26px;
    font-size: 1.6em;
}

article div#curriculo a {
    background-color: rgba(27, 27, 27, 0.74);
    padding: 9px;
    color: white;
    font-size: 0.8em;
    margin-left: 3px;
    text-decoration: none;
    border-top: 2px solid var(--principal);
    border-radius: 7px;
}

article div#curriculo a:hover {
    background-color: rgba(31, 31, 31, 0.74);
    color: rgb(209, 209, 209);
    text-decoration: underline;
}

article div#curriculo a:active {
    background-color: rgba(0, 0, 0, 0.801);
    color: rgb(156, 155, 155);
    transition: 2s;
}


article div#curriculo i {
    color: rgb(242, 242, 243);
    padding-right: 3px;
    transform: translateY(7px);
}

article div#curriculo i:hover {
    color: var(--principal);
    transition: 2s;
}

                            /* Area sobre */


section#sobre {
    font-family: 'inter';
    color: rgb(180, 180, 180);
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(44, 44, 44));
    min-height: 100dvh;
}

section#sobre > h1 {
    text-align: center;
    padding: 25px;
}
section#sobre > h1 > span {
    color: var(--principal);
    text-align: center;
}

section div#caixa {
    background-color: rgb(44, 44, 44);
    width: 100%;
    max-width: 370px;
    min-height: 550px;
    margin: auto;
    border-radius: 12px;
    border-top-right-radius: 13px;
    border: 1px solid rgb(85, 85, 85);
}

section div.elementos {
    display: grid;
    grid-template-columns: 110px 254px;
    grid-template-rows: 302px 302px;
    height: 550px;
    gap: 6px;
    border-radius: 12px;
    border-top-right-radius: 13px;
    background-color: rgb(22, 22, 22);
}

section div.dados1 {
    border-radius: 7px;
    border-top-left-radius: 13px;
    background-color: #292929;
    height: 290px;
}

section div.dados1 div.imagem{
    background: url(../imagens/myimage.favicon.jpeg);
    background-size: cover;
    background-color: #111213;
    border-top-left-radius: 12px;
    width: 100%;
    height: 110px;
}

section div.dados1 h2 {
    margin-left: 7px;
    font-size: 0.7em;
    color: white;
}

section div.dados1 h2 > span {
    color: var(--principal);
}

section div.dados1 p {
    width: 95px;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 0.8em;
    color: rgb(196, 196, 196);
}



section div.dados2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #070707;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 12px;
}

section div.dados2 i {
    color: #0077ff;
}

section div.dados2-1 {
    padding: 6px;
    background-color: #292929;
    border-radius: 7px;
    border-top-right-radius: 11px;
    
}

section div.dados2-1 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-1 > p {
    margin-left: 6px;
    margin-top: 10px;
    font-size: 0.8em;
    width: 220px;
    color: rgb(185, 185, 185);
}

section div.dados2-2 {
    padding: 7px;
    background-color: #292929;
    border-radius: 5px;
}

section div.dados2-2 > p {
    margin-left: 7px;
    margin-top: 10px;
    font-size: 0.9em;
    width: 223px;
    color: rgb(185, 185, 185);
}

section div.dados2-2 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-3 {
    padding: 5px;
    border-radius: 7px;
    background-color: #292929;
}

section div.dados2-3 > h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.1em;
}

section div.dados2-3 > p {
    margin-left: 6px;
    margin-top: 10px;
    font-size: 0.9em;
    width: 215px;
    color: rgb(185, 185, 185);
}




}