@charset "UTF-8";

 @font-face {
            font-family: "inter";
            src: url('../fonte/inter/static/Inter_28pt-Regular.ttf');
        }

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: Até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: Acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    * {
        font-family: 'inter';
        margin: 0px;
        padding: 0px;
    }

    body {
        background-image: linear-gradient(to bottom, #181818, #202020ec);
        background-size: contain;
        background-position: center center;
        min-height: 100dvh;
    }

    header > i#burguer {
        display: none;
    }

    header {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    header > h1 {
        text-shadow: 0px 2px 0px rgba(194, 193, 193, 0.993);
        color: white;
        font-size: 2.5em;
        padding: 0px;
        margin-left: 3vw;
        flex: 0 0 150px;
    }

    header > h1 > span {
        text-shadow: 0px 3px 0px rgba(0, 0, 255, 0.918);
        color: rgb(13, 11, 138);
    }

    header > nav {
         /* border: 2px solid yellow;  */
        padding: 9px;
        margin-right: 20px;
        flex: 0 0 500px;
    }

    header > nav > ul {
        display: flex;
        justify-content: space-evenly;

         /* border: 2px solid green;  */
        list-style-type: none;
    }

    header > nav > ul > li {
         /* border: 2px solid red;  */
        padding: 5px 17px;
        display: inline-block;
    }

    header > nav > ul > li > a {
        display: block;
        border-top: 2px solid rgba(13, 13, 100, 0.781);
        font-size: 1.2em;
        padding: 11px 2vw;
        color: white;
        text-decoration: none;
    }

    header > nav > ul > li > a:hover {
        color: rgb(190, 184, 221);
        background-color: rgb(88, 88, 88);
        transition: 1s;
    }

    main img {
        display: none;
    }

    #container {
        background-size: contain;
        background-position: right center;
        display: flex;
        align-items: flex-end;
        height: 53vh;
        /* border: 2px solid green; */
        color: white;
        font-size: 3.2vw;
        margin-left: 6vw;
    }

    main h1 {
        color: white;
        text-shadow: 0px 4px 0px black;
    }

    main span {
    font-size: 1em;
    color: rgb(84, 84, 85);
    text-shadow: 2px 4px 0px rgb(2, 3, 29);
    }

    main div.icons {
        margin-top: 32px;
        margin-left: 4vw;
        margin-bottom: 30px;
        width: 300px;
        height: 40px;
        /* border: 2px solid red; */
    }

    main div.icons > ul {
        display: flex;
        justify-content: space-evenly;
        /* border: 2px solid yellow; */
    }

    main div.icons > ul > li {
        /* border: 2px solid green; */
        display: inline-block;
    }

    main div.icons > ul > li > a {
        /* border: 2px solid blue; */
        font-size: 2em;
        padding-top: 3px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 2px;
        border-radius: 17px;
    }

    div#curriculo a {
       background-color: rgba(53, 53, 53, 0.74);
        padding: 9px;
        color: white;
        font-size: 1em;
        text-decoration: none;
        margin-left: 6vw;
        border-top: 3px solid rgb(63, 63, 63);
        border-radius: 7px;
    }

    div#curriculo a:hover {
        background-color: rgba(59, 59, 59, 0.74);
        color: rgb(209, 209, 209);
        text-decoration: underline;
    }

    main div#curriculo a:active {
        background-color: rgba(68, 4, 172, 0.801);
        color: rgb(156, 155, 155);
        transition: 2s;
    }

    main div#curriculo i {
    color: rgb(242, 242, 243);
    padding-right: 3px;
    transform: translateY(7px);
    }

    main div#curriculo i:hover {
    color: rgb(161, 160, 160);
    transition: 2s;
    }
}
