@charset "UTF-8";

@media screen and (min-width: 992px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'inter';
    }

    body {
        background-image: linear-gradient(to bottom, #181818, #202020ec);
        min-height: 100dvh;
    }

    #burguer {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > h1 {
        font-size: 2.4em;
        padding: 5px;
        margin-left: 2vw;
        flex: 0 0 170px;
        text-shadow: rgba(194, 193, 193, 0.993);
        color: white;
    }

    header > h1 > span {
        text-shadow: 0px 3px 0px rgba(0, 0, 255, 0.918);
        color: rgb(13, 11, 138);
    }

    header > nav {
        /* border: 3px solid red; */
        margin-right: 18px;
        box-sizing: border-box;
        
    }

    header > nav > ul {
        display: flex;
        /* border: 2px solid green; */
    }

    header > nav > ul > li {
        padding: 10px 1.1vw;
        /* border: 2px solid yellow; */
        display: inline-block;
    }

    header > nav > ul > li > a {
        display: block;
        color: white;
        border-top: 2px solid rgb(20, 20, 100);
        text-decoration: none;
        padding: 14px 1.9vw;
        font-size: 1.2em;
    }

    header > nav > ul > li > a:hover {
        color: rgb(213, 210, 233);
        background-color: rgb(88, 88, 88);
        transition: 1s;
    }

    .inicio {
        padding: 14px 2.7vw;
    }

    #container {
        color: white;
        margin-top: 446px;
        font-size: 2.4em;
        margin-left: 7vw;
        margin-bottom: 80px;
    }

    main h1 {
        color: white;
        text-shadow: 0px 4px 0px black;
    }

    main span {
        color: rgb(11, 38, 192);
        text-shadow: 2px 5px 0px black;
    }

    div#curriculo a {
        background-color: rgba(77, 11, 184, 0.74);
        padding: 9px;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        margin-left: 7vw;
        border-top: 2px solid rgb(69, 69, 70);
        border-radius: 7px;
        
    }

    div#curriculo a:hover {
        background-color: rgba(97, 18, 224, 0.74);
        color: rgb(209, 209, 209);
        text-decoration: underline;
    }

    main div#curriculo a:active {
        background-color: rgba(68, 4, 172, 0.801);
        color: rgb(156, 155, 155);
        transition: 2s;
    }

    main div#curriculo i {
        color: rgb(242, 242, 243);
        padding-right: 3px;
        transform: translateY(7px);
    }

    main div#curriculo i:hover {
        color: rgb(161, 160, 160);
        transition: 2s;
    }


}