@media screen and (max-width: 768px) {

@font-face {
    font-family: 'inter';
    src: url(../fonte/inter/static/Inter_18pt-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

:root {
    --fundo01: rgb(26, 26, 26);
    --fundo02: rgb(48, 47, 47);
    --principal: #0077ff;
    --destaque: white;
}

body {
    background-color: var(--fundo01);
    font-family: 'inter';
    background-image: linear-gradient(to bottom, var(--fundo01), var(--fundo02));
    min-height: 100dvh;
    overflow-x: hidden;
}

.inicio {
    position: relative;

    min-width: 100svw;
    background: url(../imagens/myphotodesign.jpg.webp);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;

    overflow: hidden;
}

.inicio::before {
    content: '';
    position: absolute;
    inset: 0;

    background-color: rgba(31, 31, 31, 0.623);
    z-index: 0;
    backdrop-filter: blur(0.6px);
}

.inicio > * {
    position: relative;
    z-index: 1;
}

header {
    /* border: 2px solid red; */
    background-color: #1a1d25;
    position: relative;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 999;
    top: 0;
}


header > h1 {
    font-size: calc(1.6em + 1.5vw);
    padding: 5px;
    margin-left: 2vw ;
    color: white;
    text-shadow: 0px 2px 0px rgba(194, 193, 193, 0.993);
}

header > h1 > span {
    text-shadow: 0px 3px 0px rgba(46, 46, 173, 0.918);
    color: #0077ff;
}

#btn-menu {
    background: transparent;
    border: none;
    cursor: pointer;
}

#itens {
    background-color: #0077ff;
    position: absolute;
    top: 70px;
    right: 20px;

    width: 180px;
    background: #111;
    border-radius: 10px;
    padding: 10px;

    display: none;
    visibility: hidden;
    z-index: 999;
}

#itens.active {
    display: block;
    visibility: visible;
}


header i#burguer {
    background-color: rgba(92, 92, 92, 0.425);
    color: rgb(184, 184, 187);
    padding: 4px 3px 3px 3px;
    font-size: calc(2em + 1vw);
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

header i#burguer:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(31, 31, 110);
    transition: 0.8s;
    border-radius: 3px;
    border-radius: 15px;
}

header i#burguer:active {
    background-color: rgb(7, 7, 7);
    color: rgb(16, 18, 165);
    border-radius: 19px;
}

header > nav {
    background-color: #181818;
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 33px;
}

header > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > nav > ul > li {
    
    /* border: 2px solid green; */
    list-style-type: none;
    width: 100%;
    max-width: 250px;
    padding: 4px;
} 

header > nav a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(221, 221, 221);
    /* border-top: 2px solid rgb(26, 22, 78);  */
    
    border-radius: 4px;
}

header > nav a:hover {
    color: rgb(213, 210, 233);
    background-color: rgb(88, 88, 88);
    transition: .7s;
    border-radius: 15px;
    text-decoration: underline;
}

section#container {
    /* border: 2px solid green; */
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-height: 100dvh;
}

section#container article > div {
    /* border: 2px solid orange; */
    margin-left: 10px;
    font-size: calc(0.4em + 2vw);
    margin-top: 40px;
}

article > div > h1 > span {
    font-size: 1em;
    color: #0077ff;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.966);
}

article > div >p > span {
    font-size: 1.3em;
    color: #0077ff;
    text-shadow: 0px 2px 0px black;
}


article div.icons {
    display: grid;
    grid-template-rows: auto ;
    /* border: 2px solid red; */
}

article div.icons > ul {
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    

    /* border: 2px solid yellow; */
}

article div.icons > ul > li {
    list-style: none;
}

article div.icons > ul > li > a {
    padding: 3px 7px;
    border-radius: 26px;
    font-size: 1.6em;
}

article div#curriculo a {
    background-color: rgba(27, 27, 27, 0.74);
    padding: 9px;
    color: white;
    font-size: 0.8em;
    margin-left: 3px;
    text-decoration: none;
    border-top: 2px solid var(--principal);
    border-radius: 7px;
}

article div#curriculo a:hover {
    background-color: rgba(31, 31, 31, 0.74);
    color: rgb(209, 209, 209);
    text-decoration: underline;
}

article div#curriculo a:active {
    background-color: rgba(0, 0, 0, 0.801);
    color: rgb(156, 155, 155);
    transition: 2s;
}


article div#curriculo i {
    color: rgb(242, 242, 243);
    padding-right: 3px;
    transform: translateY(7px);
}

article div#curriculo i:hover {
    color: var(--principal);
    transition: 2s;
}


                            /* Area sobre */


section#sobre {
    color: rgb(180, 180, 180);
    background-color: rgb(20, 20, 20);
    min-height: 100dvh;
}

section#sobre > h1 {
    text-align: center;
    padding: 20px;
}
section#sobre > h1 > span {
    color: var(--principal);
    text-align: center;
}

section div.texto {
    border: 1px solid rgb(63, 63, 63);
    display: block;
    margin: auto;
    background-color: rgb(27, 27, 27);
    width: 85%;
    min-height: calc(150px + 40vh);
    border-radius: 12px;
}

section div.texto:hover {
    border: 1px solid rgb(63, 63, 63);
    border-color: #5f5f5f;
    border-radius: 12px;
    transition: 1s;
}


section div.texto i {
    color: rgb(182, 182, 182);
    padding-right: 15px;
}

section div.texto > h2 {
    font-size: 1.2em;
    padding-top: 14px;
    margin-left: 20px;

}

section div.texto > p {
    color: rgb(150, 150, 150);
    text-align: left;
    padding: 15px;
    width: calc(30% + 140px);
    font-size: calc(0.4em + 60%);
}

section article#caixa {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
}

section div.secao {
    border: 1px solid rgb(58, 58, 58);
    background-color: #272727;
    min-height: 170px;
    border-radius: 14px;
}

section div.secao:hover {
    border-color: var(--principal);
    transition: 1.5s ease;
    cursor: pointer;
}

section div.secao > i {
    margin-left: 45%;
    margin-top: 9px;
}

section div.secao > h3 {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

section div.secao > p {
    text-align: center;
    padding: 10px;
    color: rgb(136, 136, 136);
}



}